:root {
  --color-background: #f0f0ff;
  --color-surface: #ffffff;
  --secondary-background: #f4f4ff;
  --color-text: #000000;
  --color-accent: darkcyan;
}


body {
    font-family: Verdana, sans-serif;
    color:var(--color-text);
    background-color: var(--color-background);
    line-height: 1.5;
}

.content-width{
    max-width: 100%;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
}

nav{
    display:flex;
    border-bottom: 2px solid black;
    flex-wrap:wrap;
    justify-content: space-around;
}

main{
    max-width: 100%;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
}

/*
I added a 1% scale increase when hovering over item-cards. This meets objective 9, if my link hovering thing didn't.
Also added a background color change that reverts after being removed.
*/

.item-card:hover{
    transform: scale(1.01);
    background-color: var(--secondary-background);
}

a:hover, a:focus {
    transform: scale(1.125);
    margin: 6px;
    color: var(--color-accent);
}



a {
    transition: transform 0.15s ease;

    margin: 6px;
}



.site-name{
    font-size:30px;
}

* {
    margin: 10px;
}


.item-card > p{
    content:"\A";
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1px;
    margin: 0 auto;
    padding: 20px 10px;
}

.item-card a{
    display:flex;
    justify-content: center;
    transition: background-color 0.3s ease; 
}

.item-card{
    max-width: 500px;
      min-width: 150px;
    max-height:700px;
    min-height:550px;
    transition: transform 0.15s ease;
    border: 2px solid black;
    border-radius: 1%;
    padding: 1%;
    margin: 20px;
}

img{
    max-width: 100%;
    height:auto;
    border-radius:1.5%;
}

h1{
    font-size:30px;
}

h2{
    font-size:24px;;
}

p{
    font-size:16px;
}


form{
    display:flex;
    margin: 0 auto;
    width:100%;
    align-items:center;
    max-width:70%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

label, legend{
    display:block;
}

#steam-link{
    width:"500px";
}

input[type="submit"] {
  display: block;
  width: 20%;
  min-width:200px;
  height: 15%;
  align-items:center;
  background-color:#e0e0f0;
  border-color:#cccccc;
}

input:focus, textarea:focus{
    transform: scale(1.06125);
}

input, textarea{
    transition: transform 0.15s ease;
    display:inline-block;
    margin-bottom:8px;
}

label{
    border: 1px solid black;
    display:block;
    border-radius:3px;
    padding-left:4px;
    padding-right:4px;
}


table{
    table-layout:fixed;
    margin: 1px auto;
    border: solid 4px #bbb;
    border-collapse:collapse;
    border-radius:3px;
    width:50%;
}

th, td{
    border: solid 2px #aaa;
    border-collapse:collapse;
}

th{
    background-color: #ccd;
}

thead th:nth-child(1) {
  width: 25%;
}
thead th:nth-child(2) {
  width: 20%;
}
thead th:nth-child(3) {
  width: 55%;
}