:root {
  --color-background: #f0f0ff;
  --color-surface: #ffffff;
  --secondary-background: #f4f4ff;
  --color-text: #000000;
  --color-accent: darkcyan;
}


body {
    font-family: Verdana, sans-serif;
    color:var(--color-text);
    background-color: var(--color-background);
    line-height: 1.5;
}

.content-width{
    max-width: 100%;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
}

nav{
    display:flex;
    border-bottom: 2px solid black;
    flex-wrap:wrap;
    justify-content: space-around;
}

main{
    max-width: 100%;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
}

/*
I added a 1% scale increase when hovering over item-cards. This meets objective 9, if my link hovering thing didn't.
Also added a background color change that reverts after being removed.
*/

.item-card:hover{
    transform: scale(1.01);
    background-color: var(--secondary-background);
}

a:hover, a:focus {
    transform: scale(1.125);
    margin: 6px;
    color: var(--color-accent);
}



a {
    transition: transform 0.15s ease;

    margin: 6px;
}



.site-name{
    font-size:30px;
}

* {
    margin: 10px;
}


.item-card > p{
    content:"\A";
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: px;
    margin: 0 auto;
    padding: 20px 10px;
}
    /* display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    flex-direction:row;
    max-width:600px;
    min-width: 300px; */



    /*
    Goals: Make links in articles center.
    */
.item-card a{
    display:flex;
    justify-content: center;
    transition: background-color 0.3s ease; 
}

.item-card{
    max-width: 500px;
      min-width: 150px;
    max-height:700px;
    min-height:550px;
    transition: transform 0.15s ease;
    border: 2px solid black;
    border-radius: 1%;
    padding: 1%;
    margin: 20px;
}

img{
    max-width: 100%;
    height:auto;
    border-radius:1.5%;
}

h1{
    font-size:30px;
}

h2{
    font-size:24px;;
}

p{
    font-size:16px;
}